# Python cache folder
src/gft_opto/__pycache__/*

# Virtual environment and its subfolders
.venv/

#Latex related files
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.synctex.gz
**/*.glo